.app-container {
  display: flex;
  height: 100dvh;
  width: 100%;
  gap: 10px;
  background: #00001e;
  color: white;
}

.app-container section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5px;
  overflow: hidden;
}

.app-container section.tool-container {
  border: 1px solid black;
  border-radius: 50px;
  max-width: 230px;
  padding: 2rem 1rem;
  justify-content: space-between;
  border-radius: 50px;
  border: 1px solid #ff0c77;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tool-container .button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.tool-container .button-container button {
  width: 80%;
}

.app-container section.canvas-container {
  flex: 2;
}

.tool-content {
  flex: 1; /* This allows your main content to take up remaining space after frames */
  margin-right: 20px; /* Gives some space between main content and frame previews */
}

.main-content {
  flex: 1; /* This allows your main content to take up remaining space after frames */
  margin-right: 20px; /* Gives some space between main content and frame previews */
}

.frame-container {
  margin: 0px;
  padding: 0px 5px 0px 0px;
  min-width: 65px;
}

.frame-preview {
  /* Adjust as needed */
  display: block;
  margin: 0px;
  padding: 2px;
  border: 1px solid #ddd;
}

.selected-frame {
  border: 2px solid blue; /* Or any other highlight style */
}

.scaled-container {
  width: 65px;
  height: 65px;
  overflow: hidden;
}

.frame-preview canvas {
  padding: 0px;
  margin: 0px;
  transform: scale(0.25);
  transform-origin: top left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 30px);
  grid-gap: 2px;
}

.pixel {
  width: 30px;
  height: 30px;
}

button:active {
  transform: scale(0.95);
}

button {
  border-radius: 10px;
}

.sketch-picker {
  background-color: #484848 !important;
  box-shadow: none !important;
  color: whitee !important;
}

.sketch-picker input,
.sketch-picker label {
  display: none !important;
}

.button-31 {
  background-color: #222;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 20px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:active {
  opacity: 0.75;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.selected:before {
  all: unset;
  animation: none;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-85:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-85:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.saved-canvas-container {
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}
.saved-canvas-container canvas {
  cursor: unset;
}
